* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
    /* colocando o main no centro */
    display: grid;
    place-items: center;
    height: 100vh;
}

body,
button,
input {
    font-family: 'DM Sans', sans-serif;
}

button {
    background: #7879F1;
    color: white;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background-color: #5353a8;
}

.hide {
    display: none;
}

main {
    padding: 4.8rem 6.4rem 6.4rem;
    background: #FFFFFF;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6prem;
    width: min(42.8rem, 90%);
    margin-top: -12rem;
    text-align: center;
}


/* Screen 1 */

h1 {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.6rem;
}

h1,
p {
    color: rgba(52, 53, 91, 1);
}

p {
    opacity: .8;
}

input,
button {
    border: none;
    padding: 1.6rem;
}

form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}

input {
    background: rgba(220, 226, 233, 1);
    border-radius: .4rem 0 0 .4rem;
    width: 6rem;
}


/* screen 2 */

h2 {
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 3.3rem;
}

screen2 button {
    border-radius: .4rem;
}